@keyframes introStarWars {
    0% {
      transform: perspective(100vh) rotateX(15deg) translateY(100%);
    }
  
    100% {
      transform: perspective(100vh) rotateX(25deg) translateY(-200%);
    }
  }
  
  .star-wars {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: #ca4815;
    background-image: url("/img/stars.gif");
  }
  
  .star-wars-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: justify;
    letter-spacing: 0.1rem;
    animation: introStarWars 35s linear infinite;
  }
  
  .star-wars h2,
  .star-wars h3 {
    font-size: 5vw;
    text-align: center;
  }
  
  .star-wars p {
    font-size: 6vw;
    line-height: 4rem;
  }
  